<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>
  <name replace-wildcards="yes">MilkPi Receiver</name>

  <service>
    <type>_milkpi._tcp</type>
    <port>8000</port>
  </service>
</service-group>