[Unit]
Description=MilkPi Sender
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=/opt/milkpi/sender
ExecStart=/opt/milkpi/venv/bin/python /opt/milkpi/sender/sender.py
Restart=always

[Install]
WantedBy=multi-user.target